.transaction-history {
  margin: auto;
  width: 450px;
  text-align: center;
  border: 0;
  border-collapse: collapse;
  padding: 0;
  margin-bottom: 10px;
}
.transaction-history th,
.transaction-history td {
  padding: 10px;
}

.transaction-history th {
  background-color: #1cbcd4;
  color: white;
  font-weight: bold;
}
tr:nth-child(even) {
  background: #ecf1f4;
}
th {
  border: 1px solid white;
}

td {
  border: 1px solid #ccc;
}
